Principal fuction in pandas

In [26]:
import pandas as pd
df_ciclyng = pd.read_csv("/home/jann/Platzi/DataScience/CourseNumpyAndPandasBasic/stages_TDF (1).csv")

In [27]:
df_ciclyng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2236 entries, 0 to 2235
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Stage           2236 non-null   object
 1   Date            2236 non-null   object
 2   Distance        2236 non-null   float64
 3   Origin          2236 non-null   object
 4   Destination     2236 non-null   object
 5   Type            2236 non-null   object
 6   Winner          2236 non-null   object
 7   Winner_Country  2184 non-null   object
dtypes: float64(1), object(7)
memory usage: 139.9+ KB

In [28]:
df_ciclyng.describe()

          Distance
count  2236.000000
mean    196.782994
std      90.176385
min       1.000000
25%     156.000000
50%     199.000000
75%     236.000000
max     482.000000

In [29]:
df_ciclyng.tail(5)

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA

In [30]:
df_ciclyng.memory_usage(deep = True)

Index                128
Stage             131119
Date              149812
Distance           17888
Origin            152976
Destination       153101
Type              161252
Winner            170230
Winner_Country    132764
dtype: int64

In [31]:
df_ciclyng['Winner_Country'].value_counts()

FRA                691
BEL                460
ITA                262
NED                157
ESP                125
GER                 71
LUX                 70
GBR                 67
SUI                 57
USA                 38
AUS                 29
DEN                 18
NOR                 17
COL                 16
FRG                 14
POR                 12
SVK                  9
IRE                  9
UZB                  7
RUS                  7
URS                  6
POL                  5
AUT                  4
EST                  4
UKR                  4
KAZ                  4
c("FRA", "FRA")      3
CZE                  3
IRL                  2
LAT                  2
MEX                  2
GDR                  1
c("BEL", "GER")      1
CAN                  1
SLO                  1
BRA                  1
SWE                  1
RSA                  1
LTU                  1
c("BEL", "BEL")      1
Name: Winner_Country, dtype: int64

## __Delete repeat date.__

In [32]:
df_ciclyng.drop_duplicates()

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA
...,...,...,...,...,...,...,...,...
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA

## __Ordenate Values.__

In [33]:
df_ciclyng.sort_values("Distance",ascending=False)

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
2042,5,1921-07-04,482.0,Les Sables-d'Olonne,Bayonne,Plain stage,Louis Mottiat,BEL
2027,5,1922-07-03,482.0,Les Sables d'Olonne,Bayonne,Plain stage,Jean Alavoine,FRA
2057,5,1920-07-05,482.0,Les Sables d'Olonne,Bayonne,Plain stage,Firmin Lambot,BEL
2012,5,1923-07-02,482.0,Les Sables d'Olonne,Bayonne,Plain stage,Robert Jacquinot,FRA
2072,5,1919-07-07,482.0,Les Sables-d'Olonne,Bayonne,Plain stage,Jean Alavoine,FRA
...,...,...,...,...,...,...,...,...
885,P,1977-06-30,5.0,Fleurance,Fleurance,Individual time trial,Dietrich Thurau,FRG
667,P,1986-07-04,4.6,Boulogne-Billancourt,Boulogne-Billancourt,Individual time trial,Thierry Marie,FRA
894,7b,1977-07-08,4.0,Angers,Angers,Team time trial,Fiat France,NaN
918,5a,1976-06-29,4.0,Leuven,Leuven,Team time trial,TI–Raleigh–Campagnolo,NaN
618,P,1988-07-03,1.0,Pornichet,La Baule,Individual time trial,Guido Bontempi,ITA

In [34]:
df_ciclyng.sort_values('Winner')

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
441,20,1997-07-26,63.0,Disneyland Paris,Disneyland Paris,Individual time trial,Abraham Olano,ESP
597,1,1989-07-02,135.5,Luxembourg City,Luxembourg City,Plain stage,Acácio da Silva,POR
644,3,1987-07-04,219.0,Karlsruhe,Stuttgart,Plain stage,Acácio da Silva,POR
622,4,1988-07-06,158.0,Le Mans,Évreux,Plain stage,Acácio da Silva,POR
794,8,1981-07-03,182.0,Rochefort,Nantes,Plain stage,Ad Wijnands,NED
...,...,...,...,...,...,...,...,...
202,14,2008-07-19,194.5,Nîmes,Digne-les-Bains,Flat stage,Óscar Freire,ESP
236,5,2006-07-06,225.0,Beauvais,Caen,Flat stage,Óscar Freire,ESP
317,2,2002-07-08,181.0,Luxembourg City,Saarbrücken,Plain stage,Óscar Freire,ESP
267,16,2005-07-19,180.5,Mourenx,Pau,Mountain stage,Óscar Pereiro,ESP
416,17,1998-07-29,149.0,Albertville,Aix-les-Bains,Stage with mountain(s),—,NaN

In [35]:
df_ciclyng.describe()

          Distance
count  2236.000000
mean    196.782994
std      90.176385
min       1.000000
25%     156.000000
50%     199.000000
75%     236.000000
max     482.000000

In [39]:
df_ciclyng[df_ciclyng["Winner_Country"].isin(["COL"])]

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
8,9,2017-07-09,181.5,Nantua,Chambéry,High mountain stage,Rigoberto Urán,COL
35,15,2016-07-17,160.0,Bourg-en-Bresse,Culoz,High mountain stage,Jarlinson Pantano,COL
103,20,2013-07-20,125.0,Annecy,Semnoz,High mountain stage,Nairo Quintana,COL
219,9,2007-07-17,159.5,Val-d'Isère,Briançon,Mountain stage,Mauricio Soler,COL
324,9,2002-07-15,52.0,Lanester,Lorient,Individual time trial,Santiago Botero,COL
330,15,2002-07-23,226.5,Vaison-la-Romaine,Les Deux Alpes,Hilly stage,Santiago Botero,COL
348,12,2001-07-20,166.5,Perpignan,Plateau de Bonascre,Stage with mountain(s),Félix Cárdenas,COL
370,14,2000-07-15,249.5,Draguignan,Briançon,Stage with mountain(s),Santiago Botero,COL
454,11,1996-07-11,202.0,Gap,Valence,Hilly stage,José Jaime Gonzalez,COL
503,17,1994-07-20,149.0,Le Bourg-d'Oisans,Val Thorens,Stage with mountain(s),Nelson Rodriguez,COL
523,15,1993-07-19,231.5,Perpignan,Pal,Stage with mountain(s),Oliverio Rincón,COL
629,11,1988-07-13,232.0,Besançon,Morzine,Stage with mountain(s),Fabio Parra,COL
702,11,1985-07-09,195.0,Pontarlier,Morzine Avoriaz,Stage with mountain(s),Luis Herrera,COL
703,12,1985-07-10,269.0,Morzine Avoriaz,Lans-en-Vercors,Stage with mountain(s),Fabio Parra,COL
705,14,1985-07-13,179.0,Autrans,Saint-Étienne,Hilly stage,Luis Herrera,COL
732,17,1984-07-16,151.0,Grenoble,Alpe d'Huez,Stage with mountain(s),Luis Herrera,COL